/*=======BASE STYLE==============*/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #0545AD;
}

body {
    background-color: #f6f6f6;
}

 /*=====================*/


 /*=======HEADER========*/

header {
    width: 100%;
    position: relative;
    border-bottom: 1px solid blue;
    background-image: linear-gradient(to bottom, white, #f7f7f7);
    z-index: 1;
}

header a:hover {
    text-decoration: underline;
}

.right-up-menu a, .right-down-menu a, .left-wrapper a {
    font-family: sans-serif;
}

.right-down-menu input {
    width: 18.125rem;
}

 .right-up-menu p, .right-down-menu p, .left-wrapper p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.right-up-menu {
    position: absolute;
    top: .875rem;
    right: .75rem;
    font-size: .75rem;
    font-family: sans-serif;
}

.right-up-menu p {
    padding: 0 .125rem;
}

.right-down-menu {
    float: right;
    margin-top: 2.5rem;
    font-size: .8125rem;
}

.right-down-menu p, .left-wrapper p {
    border-right: 1px solid #0545ad3f;
    background-image: linear-gradient(to bottom, white, #dfecff);
    margin: 0;
    padding: 0 .3125rem;
    line-height: 1.875rem;
}

.left-wrapper {
    float: left;
    margin-left: 10.9375rem;
    margin-top: 2.5rem;
    font-size: .8125rem;
}

/*=========NAVIGATION===============*/

.navigation {
    width: 10rem;
    clear: both;
    position: absolute;
    z-index: 2;
    padding-left: 1.5625rem!important;
    font-size: .75rem;
    font-family: sans-serif;
    display: block;
}

.navigation a, .navigation span, .navigation p {
    color: #0545AD;
    line-height: 1.25rem;
}

.logo {
    margin-bottom: 1.25rem;
}

.menu-title {
    color: #6E6E6E;
    border-bottom: 1px solid #DEDEDE;
    width: 100%;
    margin-bottom: .3125rem;
}

.menu-title::after {
    content: "";
    height: .0625rem;
    width: 100%;
    display: block;
    background-color: #DEDEDE;
}

.edit-links {
    float: right;
    color: #6E6E6E;
    font-size: .625rem;
}

.main-menu, .contribute, .tools, .print-export, .languages {
    margin-bottom: 1.12575rem;
}

/*=====================================*/


/*==============CONTENT================*/

.content {
    clear: both;
    background-color: white;
    border: 1px solid #a7d7f9;
    margin-left: 10.98rem;
    padding: 1.5625rem;
}

.title {
    margin-bottom: 1.5625rem;
}

.title h1 {
    font-size: 2rem;
    font-family: serif;
    font-style: italic;
}

.title p {
    font-family: sans-serif;
    font-size: .8125rem;
}

.infobox {
    border: 1px solid #BFBFBF;
    float: right;
    padding: .3125rem 1.25rem;
    font-size: .7575rem;
}

.infobox p {
    text-align: center;
}

.infobox h2 {
    font-weight: bold;
    font-size: .937575rem;
    font-style: italic;
}

.infobox-info {
    width: 100%;
    line-height: 1.8;
}

.infobox-title {
    font-weight: bold;
}

.main-content {
    font-family: sans-serif;
    font-size: .87575rem;
    line-height: 1.6;
}

.main-content p strong {
    font-weight: bold;
    font-style: italic;
}

.contents {
    display: inline-block;
    border: 1px solid #BFBFBF;
    padding: .437575rem;
    margin-top: .312575rem;
    margin-bottom: 1.25rem;
    background-color: #f6f6f6;
}

.contents h3 {
    text-align: center;
    font-weight: bold;
}

#game-options {
    padding-left: 1.75rem;
}

.section-title {
    font-size: 1.375rem;
    font-family: serif;
}

.section-title a {
    font-size: .75rem;
    font-family: sans-serif;
    margin: 0 .625rem;
}

.plot {
    padding-right: 17.375rem;
}

.plot, .gameplay {
    margin-bottom: .625rem;
}

.plot hr, .gameplay hr {
    margin-top: 0;
    margin-bottom: .3125rem;
}